Repository gorilainvest/gorila-ui-components, pull requests merged in 2020-01, with the labels that each got.

#80 Storybook housekeeping
  libs/ui-toolkit/arrow-variation/src/lib/arrow-variation.stories.ts
  libs/ui-toolkit/button/src/lib/button.stories.ts
  libs/ui-toolkit/card-container/src/lib/card-container.stories.ts
Labels: comp:storybook, priority:medium

#81 Add CSS reset to storybook
  .storybook/config.js
  .storybook/webpack.config.js
  apps/widgets-system/src/styles.scss
  libs/shared-styles/_globals.scss
Labels: comp:storybook, priority:medium

#82 Feat/tooltip: Export Tooltip Component to ui-toolkit
  CODEOWNERS
  angular.json
  apps/widgets-system/src/assets/img/icon_Information.svg
  index.js
  libs/shell/layout/src/lib/layout-shell.module.ts
  libs/shell/layout/src/lib/ui/tooltip/tooltip.component.html
  libs/shell/layout/src/lib/ui/tooltip/tooltip.component.scss
  libs/shell/layout/src/lib/ui/tooltip/tooltip.component.spec.ts
  libs/shell/layout/src/lib/ui/tooltip/tooltip.component.ts
  libs/ui-toolkit/tooltip/karma.conf.js
  libs/ui-toolkit/tooltip/ng-package.json
  libs/ui-toolkit/tooltip/package.json
  libs/ui-toolkit/tooltip/src/index.ts
  libs/ui-toolkit/tooltip/src/lib/tooltip.component.html
  libs/ui-toolkit/tooltip/src/lib/tooltip.component.scss
  libs/ui-toolkit/tooltip/src/lib/tooltip.component.spec.ts
  libs/ui-toolkit/tooltip/src/lib/tooltip.component.ts
  libs/ui-toolkit/tooltip/src/lib/tooltip.module.spec.ts
  libs/ui-toolkit/tooltip/src/lib/tooltip.module.ts
  libs/ui-toolkit/tooltip/src/lib/tooltip.stories.ts
  libs/ui-toolkit/tooltip/src/public_api.ts
  libs/ui-toolkit/tooltip/src/test.ts
  libs/ui-toolkit/tooltip/tsconfig.json
  libs/ui-toolkit/tooltip/tsconfig.lib.json
  libs/ui-toolkit/tooltip/tsconfig.spec.json
  libs/ui-toolkit/tooltip/tslint.json
  nx.json
  tsconfig.json
  tslint.json
Labels: comp:app, priority:medium

#84 Features, bugfixes and adjustments on datepicker
  libs/shell/controls/src/lib/ui/datepicker/datepicker.component.html
  libs/shell/controls/src/lib/ui/datepicker/datepicker.component.ts
  libs/ui-toolkit/datepicker/src/lib/datepicker-content.component.ts
  libs/ui-toolkit/datepicker/src/lib/datepicker-toggle.component.html
  libs/ui-toolkit/datepicker/src/lib/datepicker-toggle.component.scss
  libs/ui-toolkit/datepicker/src/lib/datepicker-toggle.component.ts
  libs/ui-toolkit/datepicker/src/lib/datepicker.component.ts
Labels: bug, priority:highest

#86 Finish datepicker and prepare 2.3 release
  .travis.yml
  libs/gdk/dist/README.md
  libs/gdk/dist/bundles/gorilainvest-gdk.umd.js
  libs/gdk/dist/bundles/gorilainvest-gdk.umd.js.map
  libs/gdk/dist/bundles/gorilainvest-gdk.umd.min.js
  libs/gdk/dist/bundles/gorilainvest-gdk.umd.min.js.map
  libs/gdk/dist/esm2015/gorilainvest-gdk.js
  libs/gdk/dist/esm2015/index.js
  libs/gdk/dist/esm2015/lib/gdk-card/gdk-card.component.js
  libs/gdk/dist/esm2015/lib/gdk-import/gdk-import.component.js
  libs/gdk/dist/esm2015/lib/gdk.module.js
  libs/gdk/dist/esm5/gorilainvest-gdk.js
  libs/gdk/dist/esm5/index.js
  libs/gdk/dist/esm5/lib/gdk-card/gdk-card.component.js
  libs/gdk/dist/esm5/lib/gdk-import/gdk-import.component.js
  libs/gdk/dist/esm5/lib/gdk.module.js
  libs/gdk/dist/fesm2015/gorilainvest-gdk.js
  libs/gdk/dist/fesm2015/gorilainvest-gdk.js.map
  libs/gdk/dist/fesm5/gorilainvest-gdk.js
  libs/gdk/dist/fesm5/gorilainvest-gdk.js.map
  libs/gdk/dist/gorilainvest-gdk.d.ts
  libs/gdk/dist/gorilainvest-gdk.metadata.json
  libs/gdk/dist/index.d.ts
  libs/gdk/dist/lib/gdk-card/gdk-card.component.d.ts
  libs/gdk/dist/lib/gdk-import/gdk-import.component.d.ts
  libs/gdk/dist/lib/gdk.module.d.ts
  libs/gdk/dist/package.json
  libs/ui-toolkit/datepicker/package.json
  libs/ui-toolkit/datepicker/tsconfig.lib.json
  package.json
Labels: comp:ui, priority:high

#87 Feat/letterhead: Export Letterhead component to ui-toolkit
  CODEOWNERS
  angular.json
  apps/widgets-system/src/assets/img/icon_print.svg
  index.js
  libs/shell/layout/src/lib/layout-shell.module.ts
  libs/shell/layout/src/lib/ui/letterhead/letterhead.component.html
  libs/shell/layout/src/lib/ui/letterhead/letterhead.component.scss
  libs/shell/layout/src/lib/ui/letterhead/letterhead.component.spec.ts
  libs/shell/layout/src/lib/ui/letterhead/letterhead.component.ts
  libs/ui-toolkit/letterhead/karma.conf.js
  libs/ui-toolkit/letterhead/ng-package.json
  libs/ui-toolkit/letterhead/package.json
  libs/ui-toolkit/letterhead/src/index.ts
  libs/ui-toolkit/letterhead/src/lib/footer/footer.component.html
  libs/ui-toolkit/letterhead/src/lib/footer/footer.component.scss
  libs/ui-toolkit/letterhead/src/lib/footer/footer.component.spec.ts
  libs/ui-toolkit/letterhead/src/lib/footer/footer.component.ts
  libs/ui-toolkit/letterhead/src/lib/header/header.component.html
  libs/ui-toolkit/letterhead/src/lib/header/header.component.scss
  libs/ui-toolkit/letterhead/src/lib/header/header.component.spec.ts
  libs/ui-toolkit/letterhead/src/lib/header/header.component.ts
  libs/ui-toolkit/letterhead/src/lib/header/print.scss
  libs/ui-toolkit/letterhead/src/lib/letterhead.component.html
  libs/ui-toolkit/letterhead/src/lib/letterhead.component.scss
  libs/ui-toolkit/letterhead/src/lib/letterhead.component.spec.ts
  libs/ui-toolkit/letterhead/src/lib/letterhead.component.ts
  libs/ui-toolkit/letterhead/src/lib/letterhead.module.spec.ts
  libs/ui-toolkit/letterhead/src/lib/letterhead.module.ts
  libs/ui-toolkit/letterhead/src/lib/letterhead.stories.ts
  libs/ui-toolkit/letterhead/src/public_api.ts
  libs/ui-toolkit/letterhead/src/test.ts
  libs/ui-toolkit/letterhead/tsconfig.json
  libs/ui-toolkit/letterhead/tsconfig.lib.json
  libs/ui-toolkit/letterhead/tsconfig.spec.json
  libs/ui-toolkit/letterhead/tslint.json
  nx.json
  tsconfig.json
Labels: comp:ui, priority:low

#89 Ape 304: Update sort-header layout, add Storybook demo
  angular.json
  libs/shell/layout/src/lib/ui/sort-header/sort-header.component.html
  libs/shell/layout/src/lib/ui/sort-header/sort-header.component.scss
  libs/shell/layout/src/lib/ui/sort-header/sort-header.component.ts
  libs/ui-toolkit/sort-header/src/lib/sort-header.component.html
  libs/ui-toolkit/sort-header/src/lib/sort-header.component.scss
  libs/ui-toolkit/sort-header/src/lib/sort-header.stories.ts
Labels: comp:storybook, comp:ui, priority:high
